<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="parrent" >
        <div id="global-block">
            <div id="btt1">
                <a href="gusi.html"><button class="btn1">Ресторан Гуси Лебеди</button></a>
            </div>
            <div id="btt2">
                <a href="foodband.html"><button class="btn2">Ресторан Food band</button></a>
            </div>
        </div>
    </div>
</body>
</html>